
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
manifests.yaml
bundle
Dockerfile
bundle.Dockerfile
Makefile
PROJECT
watches.yaml
config
0.*
1.*